### Data Pre-processing

In [4]:
import pandas as pd 

data = pd.read_excel('./PerlCOdownload.xls')
data.head(5)

,Contract ID,Bid Rank,Vendor ID,Vendor Name,Total Bid,% of Low Bid,% of Engineer's Estimate,ParticipantsCount,Unnamed: 8
0,C11328,0,-EST-,ENGINEER'S ESTIMATE,1.50331e+07,0.914889,1.000000,4,NaN
1,C11328,1,090A,INTERSTATE HIGHWAY CONSTRUCTION,1.64316e+07,1.000000,1.093028,4,NaN
2,C11328,2,822B,ACME MATERIALS & CONSTRUCTION CO.,1.77401e+07,1.079631,1.180067,4,NaN
3,C11328,3,150B,CASTLE ROCK CONSTRUCTION COMPANY,1.80151e+07,1.096367,1.198360,4,NaN
4,C11328,4,854A,LAWSON CONSTRUCTION CO.,2.0288e+07,1.234690,1.349552,4,NaN

In [5]:
# drop EST rows
data = data[data['Vendor ID'] != '-EST-']


# For auctions with n >= 2 bidders, if the number of rows for n-bidder auctions is not larger than 32,
# then remove all such data
N = 32

participants_numbers = pd.unique(data['ParticipantsCount'])
to_keep = [] 
for i in participants_numbers:
    if len(data[data['ParticipantsCount'] == i]) >= N:
        to_keep.append(i)

        
# remove auctions with one bidder 
if 1 in to_keep:
    to_keep.remove(1)
        
data = data[data['ParticipantsCount'].isin(to_keep)]


# rename and drop some columns 
data.rename(columns={"% of Engineer's Estimate": 'PercentOfEstimates'}, inplace=True)
data.drop(columns=['Vendor Name', 'Total Bid', '% of Low Bid'], inplace=True)


data.head(5)

,Contract ID,Bid Rank,Vendor ID,PercentOfEstimates,ParticipantsCount,Unnamed: 8
1,C11328,1,090A,1.093028,4,NaN
2,C11328,2,822B,1.180067,4,NaN
3,C11328,3,150B,1.198360,4,NaN
4,C11328,4,854A,1.349552,4,NaN
6,C11434,1,084A,0.951778,4,NaN

In [6]:
# clean data in PerecentOfEstimates column
idx = data['PercentOfEstimates'] > 8
data.loc[idx, 'PercentOfEstimates'] = data[idx].PercentOfEstimates / 100

In [7]:
# save the data
data.to_csv('DataProcessed.csv')